/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
header {
  background: #0056b3;
  color: white;
  padding: 15px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  background: url("IMG_20251112_120843.jpg") center/cover no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  tex

